<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts Manager</title>
    <link rel="stylesheet" href="static/contactsMainStyle.css">
    <link rel="icon" href="static/imp/rfm.png" type="image/png" sizes="any">

</head>
<body>

    <h1><i>Welcome to The Contacts Manager Page</i></h1>
    <p>
        These are the verified contact up to now:
        <br><br>
    </p>
    <div id = "searchBar">
        <form action="/search" method="POST">
            <label for="nameSearch">Search by name:</label>
            <input type="text" name="nameSearch" placeholder="Type A name">
            <button type="submit">Search</button>
        </form>
    </div>

    <table id="contactsTable">
        <thead>

            <tr id="headers">
                <th>Index</th>
                <th>Profile Picture</th>
                <th>Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
            
        </thead>
        
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{contact.userNum if contact.userNum else contact._id}}</td>
                    <td><img id="contactPic" src="{% if fake %}{{ contact.profilePicName }}{% else %}static/profileImages/{{ contact.profilePicName }}{% endif %}" width="80" /></td>
                    <td>{{contact.userName}}</td>
                    <td>{{contact.mail}}</td>
                    <td>{{contact.phone}}</td>
                    <td>{{contact.gender}}</td>
                    <td class="actionCell">
                        <div class="actionButtons">
                            <a href="/delete{{contact.userNum if contact.userNum else contact._id}}"><input type="button" value="Delete" /></a>
                            <a href="/edit{{contact.userNum if contact.userNum else contact._id}}"><input type="button" value="Edit" /></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        
        </tbody>    
    </table>
    <br><br>

    <div id="bottomButtonContainer" class="buttonContainer">

        <!-- add a contact option  -->
        <a href="/addContacts"><input type="button" value="Add a New Contact" /></a>
        <input type="button" value="Create an Empty Row" id="createEmptyRow"/> 
        <a href="/archive"><input type="button" value="Deleted Contacts" /></a>
        <a href="/fakeGen"><input type="button" value="Generate Fake DB" /></a>
        <!--
        <br> 
        <a href="dec.html"><input type="button" value="Add a New Contact - Decorated" /></a>
        -->
    </div>

    <script src="static/contactsMain.js"></script>
    <div id="bthn" lang="en"></div><script>
        (function () {
           var script = document.createElement("script");
           script.type = "text/javascript";
           script.src = "https://bringthemhomenow.net/1.1.0/hostages-ticker.js";
           script.setAttribute(
             "integrity",
             "sha384-DHuakkmS4DXvIW79Ttuqjvl95NepBRwfVGx6bmqBJVVwqsosq8hROrydHItKdsne"
           );
           script.setAttribute("crossorigin", "anonymous");
           document.getElementsByTagName("head")[0].appendChild(script);
         })();
        </script>
</body>
</html>